:root {
    --background: #0F172A;
    --surface: #1E293B;
    --elevated-surface: #263449;

    --primary-text: #E2E8F0;
    --secondary-text: #94A3B8;

    --primary-accent: #3B82F6;
    --accent-hover: #60A5FA;

    --border: #334155;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--primary-text);
}
header {
    text-align: center;
    padding-top: 1em;
}
#tabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#tabs a {
    flex: 1;
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    padding: 0.5em;
    margin-top: 1em;
}
#socials a{
    border: none;
}
#socials a:hover i{
    color: black;
    background-color: var(--accent-hover);
}
#projects-tab, #resume-tab {
    border-right: 2px solid var(--border);
}
header h1 {
    font-size: 3em;
}
header h2 {
    font-size: 2em;
}
#spacer {
    width: 16%;
}
#title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#name {
    width: 33%;
}
#socials {
    width: 15%;
    font-size: 2em;
    padding-top: 0.5em;
}
#socials h4 {
    font-size: 0.5em;
    border: none
}
#socials * {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    cursor: pointer;
    border: 2px solid var(--border);
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
.active-tab, .active-tab h3{
    background-color: var(--primary-accent);
}

.project {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    padding-bottom: 1em;
    align-items:center;
    padding-top:1em;
    border-radius: 5px;
    background-color: var(--surface);
}
.project img {
    border-radius: 5px;
    margin-left: 1em;
    border: 2px solid var(--border);
}
.project * {
    background-color: var(--surface);
}
.project h3, .project p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.project h3 {
    font-size: 1.5em;
}
.project-content{
    padding-left: 2em;
    padding-right: 2em;
    line-height: 2em;
}
.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    align-items: center;
    color: var(--secondary-text);
}
.skills h3 {
    font-size: 2em;
}
.skill {
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 0.3em;
    width: 10em;
    text-align: center;
    font-size: 0.8em;
    margin-left: 1em;
    font-weight: bold;
    background-color: var(--elevated-surface);
}
.play {
    padding: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 1em;
    width: 25%;
    font-weight: bold;
}
.right-align{
    display: flex;
    justify-content: right;
}

button {
    border-radius: 5px;
    background-color: var(--primary-accent) !important;
    border: 2px solid var(--border);
}
button:hover {
    background-color: var(--accent-hover) !important;
    color: black;
}

#resume {
    padding: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 1em;
    width: 50%;
    font-weight: bold;
}
.proj-title {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
#project-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}
#project-tabs a{
    border: 2px solid var(--border);
    padding: 1em;
    width: 20%;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: var(--elevated-surface);
}
#project-tabs h3{
    background-color: var(--elevated-surface);
}
#project-tabs a:hover, #project-tabs a:hover h3 {
    color: black;
    background-color: var(--accent-hover);
}
#section1, #section2, #section3, #section4 {
    width: 40%;
    padding: 1em;
    line-height: 1.5em;
}
#section1 h3, #section2 h3, #section3 h3, #section4 h3{
    text-align: center;
    width: fit-content;
    margin-bottom: 1em;
}
#section1 p, #section2 p, #section3 p, #section4 p{
    margin-bottom: 1.5em;
}
.active-section, .active-section h3 {
    background-color: var(--primary-accent) !important;
}
.active-section:hover, .active-section:hover h3 {
    background-color: var(--accent-hover) !important;
    color: black;
}

.inactive-content {
    display: none;
}
.active-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#proj-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
}
#proj-images * {
    margin-bottom: 1em;
}

#return-home:hover {
    background-color: var(--accent-hover);
}
#return-home:hover h3 {
    background-color: var(--accent-hover);
    color: black;
}