* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
header {
    text-align: center;
    padding-top: 1em;
}
#tabs {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
header h3 {
    width: 50%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
}
#projects-tab, #resume-tab {
    border-right: 2px solid black;
}
header h1 {
    font-size: 3em;
}
header h2 {
    font-size: 2em;
}
#spacer {
    width: 16%;
}
#title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#name {
    width: 33%;
}
#socials {
    width: 15%;
    font-size: 2em;
    padding-top: 0.5em;
}
#socials h4 {
    font-size: 0.5em;
    border: none
}
#socials * {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.project {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    padding-bottom: 1em;
    align-items: center;
    padding-top:1em;
    border-radius: 5px;
}
.project img {
    border-radius: 5px;
    margin-left: 1em;
    border: 2px solid black;
}
.project:hover {
    background-color: gray;
    cursor: pointer;
}
.project h3, .project p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.project h3 {
    font-size: 1.5em;
}
.project-content{
    padding-left: 2em;
    padding-right: 2em;
}
.skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.skill {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5em;
    width: 10em;
    text-align: center;
}
