* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1c1f2b;
    color: #f0ece2;
}

header {
    border: 2px solid #5c6389;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #23283a;
    color: #f0ece2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#project-name {
    padding: .5em;
}

#main-project-info {
    display: flex;
    justify-content: center;
    padding: 2em;
    width: 100%;
}

#main-project-image {
    width: 600px;
}

.skills-items {
    display: flex;
    flex-direction: row;
}

.skills-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    color: #cbd3e3;
    padding: 0.5em;
    border: 1px solid;
    margin: 0.5em;
    border-radius: 5px;
    background-color: #3a3f52;
}

.text-project-content {
    width: 50%;
    padding-top: 2em;
    padding-left: 4em;
    display: flex;
    flex-direction: column;
}

.project-description {
    padding-bottom: 1em;
}

.image-carousel {
    display: flex;
    justify-content: center;
}

.cimage-vertical {
    padding: 2em;
}
.cimage-horizontal {
    padding: 2em;
}

#project-button {
    width: 100%;
    padding: .5em;
    background-color: #268e96;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer
}

#project-button:hover{
    background-color: #ff6e7f;
}

#project-button-anchor{
    display: inline-block;
    width: 25%;
}

#return-button {
    display: inline-block;
}

h1 {
    display: inline-block;
}

#spacer {
    width: 100px;
}

#return-button {
    border-right: 2px solid #5c6389;
    padding-right: 2em;
    padding-left: 2em;
    border-bottom-left-radius: 10px;
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color:#268e96
}

#return-button:hover{
    cursor: pointer;
    background-color: #ff6e7f;
}

a {
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

.cimage-vertical {
    width: 400px;
    height: 500px;
}

.cimage-horizontal {
    width: 600px;
    height: 400px;
}