* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1c1f2b;
    color: #f0ece2;
}

/* Header Styling */
header {
    border: 2px solid #5c6389;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23283a;
    color: #f0ece2;
    padding: 2em;
}

.personal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    width: 50%;
}

.contact {
    width: auto;
}
.spacer {
    width: 20%
}

.contact p {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.contact .socials {
    font-size: 3rem;
    text-align: left;
    margin: 0.5em;
    text-decoration: none;
    color: #f0ece2;
}
.contact .socials:hover{
    color: #ff6e7f;
}

.personal-info h1 {
    font-size: 4rem;
}

.personal-info h3 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}

/* About Section */
.about-me {
    border-color: #5c6389;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    border-left: 2px solid;
    border-right: 2px solid;
}

.about-me.active {
    max-height: 1500px;
    padding: 1em;
}

.about-me img {
    border-radius: 10px;
    margin-right: 2em;
}

.about-description {
    width: 50%;
}

.about-description p {
    text-align: left;
    padding: 0.5em;
    font-size: 1.3rem;
}

.about-arrow {
    color: #f0ece2;
    margin: 0 auto;
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #5c6389;
    background-color: #268e96;
    box-shadow: 0 0 6px rgb(77, 208, 225);
}
.about-arrow:hover {
    background-color: #5c6389;
}

.about-arrow .fas.fa-angle-up {
    display: none;
}

.about-arrow .fas.fa-angle-up.active {
    display: block;
}

.about-arrow.fas.fa-angle-down {
    display: block;
}

.about-arrow .fas.fa-angle-down.active {
    display: none;
}

/* Skills & Education */
.experience-container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.experience-container h3 {
    font-size: 2rem;
}

.education {
    width: 50%;
    border-left: 2px solid black;
}

.degree-name {
    font-size: 1.5rem;
}

.skills {
    width: 50%;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.skills-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    color: #cbd3e3;
    padding: 0.5em;
    border: 1px solid;
    margin: 0.5em;
    border-radius: 5px;
    background-color: #3a3f52;
}

/* Project Cards */
.project-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 95%;
    color: #f0ece2;
    border-radius: 15px;
    padding: 1em;
}
.parent-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    color: #f0ece2;

}
.parent-section {
    border: 2px solid #5c6389;
    padding: 1em;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s ease;
    width: 25%;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 5px 10px black;
    background-color: #268e96;
}

.parent-section:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px rgb(77, 208, 225);
}

.parent-section h3 {
    font-size: 1.5rem;
}

.parent-section img {
    border-radius: 10px;
}

/* Collapsed Section */
.collapsed-section-web, .collapsed-section-tabletop, .collapsed-section-c{
    border: 2px solid #5c6389;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #2d3142;
    cursor: pointer;
}
.collapsed-section-web:hover, .collapsed-section-tabletop:hover, .collapsed-section-c:hover {
    background-color: #5c6389;
    box-shadow: 0 4px 12px rgba(74, 203, 220, 0.34);
    transform: translateY(-4px);
}
#parent-tabletop{
    background-color: #ff6e7f;
}
#web{
    display: none;
}
#c{
    display: none;
}
.project-image{
    width: 400px;
    height: 250px;
}

/* Project Expanded Info */
.project-expanded {
    display: none;
    width: 95%;
    background-color: white;
    border: 2px solid;
    margin: 1em auto;
    border-radius: 15px;
    z-index: 2;
}

.project-title h3 {
    font-size: 3rem;
    text-align: center;
}

.skills-items-project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    margin: 0 auto;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content img {
    border-radius: 15px;
}

.project-stack {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.highlight-list {
    font-size: 1.5rem;
}

.highlight-list li {
    padding: 0.5em;
}

.project-description {
    padding: 2em;
    width: 85%;
    margin: 0 auto;
}

.project-description p {
    font-size: 1.5rem;
    margin: 1em;
}

/* Remove collapse button style */
.collapse {
    display: none;
}
