* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Header Styling*/
header {
    border: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    width: 45%;
}
.contact{
    width: auto;
}
.contact p {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: .5em;
}
.contact .socials{
    font-size: 4rem;
    text-align: left;
    margin: .3em;
}
.personal-info h1{
    font-size: 4rem;
}
.personal-info h3{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: .5em;
}

/* About Section */
.about-me{
    width: 95%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    border-left: 2px solid;
    border-right: 2px solid;
}
.about-me.active{
    max-height: 1500px;
    padding: 1em;
}
.about-me img{
    border-radius: 10px;
    margin-right: 2em;
}
.about-description{
    width: 50%;
}
.about-description p{
    text-align: left;
    padding: 0.5em;
    font-size: 1.3rem;
}
.about-arrow{
    margin: 0 auto;
    width: 95%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}
.about-arrow .fas.fa-angle-up{
    display: none;
}
.about-arrow .fas.fa-angle-up.active{
    display: block;
}
.about-arrow.fas.fa-angle-down{
    display: block;
}
.about-arrow .fas.fa-angle-down.active{
    display: none;
}

/* Skills & Education */
.experience-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.experience-container h3{
    font-size: 2rem;
}
.education{
    width: 50%;
    border-left: 2px solid black;
}
.degree-name{
    font-size: 1.5rem;
}
.skills{
    width: 50%;
}
.skills-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.skills-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skill{
    padding: 0.5em;
    border: 1px solid black;
    margin: 0.5em;
    border-radius: 10px;
}

/* Collapsed Project Cards */
.project-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
}
.parent-section{
    border: 2px solid;
    padding: 1em;
    cursor: pointer;
    animation: shrink 0.5s forwards;
    border-radius: 15px;
    margin: 2em;
}
.parent-section .fas.fa-angle-down{
    display: block;
    animation: fadeOut 0.5s forwards;
    opacity: 0;
}
.parent-section:hover{
    animation: scale 0.5s forwards;
}
.parent-section:hover .fas.fa-angle-down{
    animation: fadeIn 0.5s forwards;
    opacity: 1;
}
.project-container:hover .collapsed-section{
    animation: fadeIn 0.5s forwards;
    opacity: 1;
}
.collapsed-section{
    border: 2px solid;
    padding: 1em;
    cursor: pointer;
    animation: shrink 0.5s forwards;
    border-radius: 15px;
    margin: 2em;
    opacity: 0;
}
.collapsed-section .fas.fa-angle-down{
    display: block;
    animation: fadeOut 0.5s forwards;
    opacity: 0;
}
.project-container:hover .collapsed-section:hover{
    animation: scale 0.5s forwards;

}
.collapsed-section:hover .fas.fa-angle-down{
    animation: fadeIn 0.5s forwards;
    opacity: 1;
}

@keyframes scale{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}
@keyframes shrink{
    from{
        transform: scale(1.25);
    }
    to {
        transform: scale(1);
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}